<br>
<div class="center card-custom">
        <mat-card class="mat-form-field">
            <mat-card-header class="center">
                <mat-card-title>Email verification sent!</mat-card-title>
                <mat-card-subtitle>Click on the link sent to your email to verify your account.</mat-card-subtitle>
            </mat-card-header>
            <p class="center">
                <button mat-raised-button color="primary" 
                        class="btn btn-lg btn-primary btn-block mb-1" 
                        type="submit" 
                        (click)="router.navigate(['login']);">Return to Login</button>
            </p>
        </mat-card>
</div>