<div class="home-center">
    <div class="home-container">
    <mat-drawer-container class="home-drawer">
        <mat-drawer class="left-drawer" mode="side" opened>
            <mat-toolbar class="chat-toolbar">
                <mat-toolbar-row>
                    <span class="light-text-1">Groups</span>
                    <span class="toolbar-spacer"></span>
                    <button id="createGroup" mat-icon-button (click)="openCreateDialog();" class="dropdown-btn general-icon-button-light" style="padding-bottom: 10px;">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-list>
                <mat-list-item class="list-item" *ngFor="let group of groups$ | async" (click)="changeGroup(group)">
                    <h4 class="group-name light-text-2">{{group.name}}</h4>
                    <span class="spacer"></span>
                    <!-- <mat-icon>notifications</mat-icon> -->
                </mat-list-item>
            </mat-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar class="chat-toolbar" style="position: relative; top: 0px;">
                <mat-toolbar-row>
                    <div *ngFor="let group of group$ | async">
                        <span class="light-text-1">{{group.name}}</span>
                    </div>
                    <span class="toolbar-spacer"></span>
                    <button style="padding-left: 15px;" (click)="openInviteDialog()" class="btn-no-background">
                        INVITE
                    </button>
                    <button style="padding-left: 15px;" (click)="showMembers()" class="btn-no-background general-icon-button-light">
                        <mat-icon class="toolbar-icon">people</mat-icon>
                    </button>
                    <button (click)="$event.stopPropagation()" 
                            class="general-icon-button-light" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="isOwner" mat-menu-item aria-lable="Edit Group" (click)="editGroup()">
                            <mat-icon>edit</mat-icon>
                            <span>edit</span>
                        </button>
                        <button *ngIf="isOwner" mat-menu-item aria-lable="Delete Group" (click)="deleteGroup()">
                            <mat-icon>delete</mat-icon>
                            <span>delete</span>
                        </button>
                        <button *ngIf="!isOwner" mat-menu-item aria-lable="Leave Group" (click)="leaveGroup()">
                            <span>leave group</span>
                        </button>
                    </mat-menu>
                </mat-toolbar-row>
            </mat-toolbar>
            <div [className]="!showMembersToggle ? 'message-container' : 'message-container-1'" #scrollMe>
                <div class="messages">
                    <div *ngFor="let group of group$ | async">
                        <div *ngFor="let message of group.messages">
                            <!-- <div [className]="!showMembersToggle ? 'center divider m-component' : 'center divider-1 m-component'"> -->
                                <h5 [className]="!showMembersToggle ? 'center divider m-component light-text-3' : 'center divider-1 m-component light-text-2'">{{message | divider}}</h5>
                            <!-- </div> -->
                            <div [className]="!showMembersToggle ? 'list-item-1' : 'list-item-1-1'">
                                <h3 class="light-text-1 m-component" style="display:inline;">{{message | displayName}}</h3><h6 class="light-text-3 date m-component">{{message | displayTime}}</h6>
                                <span class="light-text-2 content" style="display:block; font-weight: lighter;">{{message.value}}</span>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div [className]="!showMembersToggle ? 'message-input-box' : 'message-input-box-1'">
                <input class="message-input" #messageInput name="messageInput" type="text" placeholder="Message" (keyup.enter)="addMessage(messageInput.value); messageInput.value = ''">
            </div>
            <app-members-panel *ngIf="showMembersToggle"></app-members-panel>
        </mat-drawer-content>
    </mat-drawer-container>
    </div>
</div>
