@import '../app.component.css';

.home-container {
    height: 90%;
}

.home-drawer {
    max-width: 1500px;
    width: 100%;
    height: 90%;
    margin: 10px;
    border: 1px solid #555;
    border-radius: 10px;
}

.left-drawer {
    width: 15%;
}